.nftGridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1%;
  width: 100%;
}

.nftContainer {
  width: 17.8%;
  margin: 8px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  backface-visibility: hidden;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  transform: translate3d(0px, 0px, 0px);
  display: flex;
  flex-direction: column;
  padding: 8px;
  max-height: 382px;
  transition: all 0.25s ease-in-out;
}

.nftContainer:hover {
  cursor: pointer;
  transform: translate3d(0px, -4px, 0px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}




.characterBox {
  position: relative;
  top: 0;
}
 
 
/* Mobile */
@media (max-width: 767px) {
  .characterBox {
    width: 240px;
    height: 240px;
  }
}

/* Tablet and smaller laptops */
@media (min-width: 768px) and (max-width: 1024px) {
  .characterBox {
    width: 350px;
    height:350px;
  }
}

/* Desktop monitors and larger laptops */
@media (min-width: 1025px) {
  .characterBox {
    width: 580px;
    height: 580px;
  }
}



.mainPageLayout {
   
}
 
 
/* Mobile */
@media (max-width: 767px) {
  .mainPageLayout {
    grid-column: span 12;
    grid-row: span 4;
  }
}

/* Tablet and smaller laptops */
@media (min-width: 768px) and (max-width: 1024px) {
  .mainPageLayout {
    grid-column: span 8;
    grid-row: span 4;
  }
}
 
/* Desktop monitors and larger laptops */
@media (min-width: 1025px) {
  .mainPageLayout {
    grid-column: span 8;
    grid-row: span 4;
  }
}








.title {
  padding: 8px;
  font-size: 3rem;
  margin-bottom: 8px;
}

/* Responsive */

@media (min-width: 1200px) {
}

@media (min-width: 760px) and (max-width: 1200px) {
  .nftContainer {
    width: 22%;
  }
}

@media (min-width: 600px) and (max-width: 760px) {
  .nftContainer {
    width: 29%;
  }
}

/* Less than 600 */
@media (max-width: 600px) {
  .nftContainer {
    width: 45%;
  }
}
